footer{}
//====================================================================================================

//====================================================================================================

.footer {
    padding: 32px;
    // .footer__content

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .footer__copy

    &__copy {
        color: #313844;
    }

    // .footer__logo

    &__logo {
    }
}
