.fs {
    padding-top: 100px;
    padding-bottom: 30px;

    @media (max-width:$md3+px){
         height: auto; 
    }
    // .fs__container

    &__container {
        display: flex;
        justify-content: center;
    }

    // .fs__video

    &__video {
        overflow: hidden;
        max-width: 980px;
        height: 480px;
        video{
            width: 100%;
            display: block;
        }
    }
}

._touch{
    .fs{
        padding-top: 60px;
        min-height: auto;
    }

}