//<МИКСИНЫ>===============================================================================================
@import "files/mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,600,700,800&display=swap&subset=cyrillic-ext);
@import url(https://fonts.googleapis.com/css?family=Exo:700&display=swap&subset=cyrillic-ext);
@import url(https://fonts.googleapis.com/css?family=Prosto+One:regular&display=swap&subset=cyrillic-ext);
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Open Sans";
$fontFamily2: "Exp";
$fontFamily3: "Prosto One";
$fontSize: 18;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1440;
$md1: $maxWidthContainer + 12;
$md2: 991;
$md3: 767;
$md4: 479;

$mainColor: #000;

$c_f: #fff;

$c_0: #000;
$c_accent: #04d600;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "files/null";
html {
	display: flex;
	flex-direction: column;
}
body {

	flex-grow: 1;
	display: flex;
	flex-direction: column;
	color: $mainColor;

	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	flex-grow: 1;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;

	&._loaded {
	}
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	margin: 0 auto;
	width: 100%;
	padding: 0 10px;
	z-index: 5;
	max-width: $maxWidthContainer + px;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "files/forms";
@import "files/ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "libs/datepicker";
@import "libs/lightgallery";
//@import "pagging";
@import "files/popup";
@import "files/header";
@import "files/footer";
@import "files/home";
@import "libs/nouislider";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	padding-top: 10px;
	overflow-y: hidden;

}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

@import "global";
@import "fs";
@import "what";
@import "catalog";
@import "why";
@import "howMuch";
@import "how";
@import "delivery";
@import "contacts";
@import "benefits";
@import "cart";

svg {
	width: 100%;
}

._scr-item {
	transform: translateY(100px);
	opacity: 0;
	transition: all .5s ease;
	&._active {
		opacity: 1;
		transform: translateY(0);
	}
}
