.what {
    margin-bottom: 93px;
    // .what__content

    &__content {
    }

    // .what__title

    &__title {
    }

    // .what__body

    &__body {
        border: 2px solid #2f354c;
        box-sizing: border-box;
        border-radius: 5px;
        display: grid;
        grid-gap: 70px;
        grid-template-columns: minmax(auto , 453px) 1fr;
        padding: 0 27px 0 35px;
        @media (max-width:$md2+px){
            grid-template-columns: 1fr;
            gap: 30px;
            padding: 0 15px ;
        }
    }

    // .what__img

    &__img {
        margin: -17px;
        margin-left: 0;
        @media (max-width:$md2+px){
            margin: 15px auto 0px;

            max-width: 200px;
        }
    }

    // .what__text

    &__text {
        padding: 25px 0;
        p:not(:last-child){
            margin-bottom: 35px;
        }
    }
}
.title {
}
