footer{}
//====================================================================================================

//====================================================================================================

.footer{
    padding: 15px 0;
    text-align: center;
    background-color: $c_0;
    color: $c_f;
}