.btn {
    display: inline-flex;
    justify-content: center;
    &-tr {
        @include brd($c_31, "");
        color: $c_31;
        transition: all 0.3s ease;
        &:hover,
        &:focus {
            @include brd($c_main, "");

            color: $c_main;
            background-color: $c_2e;
        }
    }

    &-mc {
        transition: all 0.3s ease;
        background-color: $c_main;
        @include brd($c_2e, "");
        color: $c_31;
        &:hover,
        &:focus {
            @include brd($c_31, "");
            background-color: $c_2e;
            color: $c_main;
        }
    }
    &-2e {
        transition: all 0.3s ease;
        @include brd($c_2e, "");
        color: $c_main;
        &:hover,
        &:focus {
            @include brd($c_31, "");
            background-color: $c_2e;
            color: $c_main;
        }
    }
    &-s {
        padding: 6px 10px;
        min-width: 100px;
        border-radius: 6px;
    }
    &-m {
        padding: 13px 15px;
        min-width: 205px;
        border-radius: 12px;
    }
}

.title {
    font-size: 70px;
    font-weight: 700;
    color: $c_f;
    span {
        color: $c_main;
    }
}

.subtitle {
    font-size: 20px;
    color: $c_main;
    font-weight: 500;
}

.xp {
    &__text {
        text-transform: uppercase;
        font-weight: 300;
        margin-right: 11px;
        font-size: 13px;
        color: $c_main;
    }
    &__line {
        position: relative;
        height: 3px;
        background-color: #617f7d;
        &-bg {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 50%;
            background-color: $c_main;
            svg {
                position: absolute;
                top: -5px;
                right: -1px;
            }
        }
    }
}

.svg-coin {
    box-shadow: 0px 0px 15px 5px rgba($color: $c_main, $alpha: 0.3);
    border-radius: 50%;
}

.level {
    display: flex;
    align-items: flex-end;
    font-size: 13px;
    font-weight: 200;
    cursor: pointer;
    // .level_xp

    &_xp {
        margin-bottom: 10px;
        color: $c_main;
        .level-line__val {
            background-color: $c_main;
        }
    }

    // .level_rank

    &_rank {
        color: $c_away;
        .level-line__val {
            background-color: $c_away;
        }
    }
    &-line {
        height: 3px;
        background-color: $c_61;
        &__val {
        }
    }
    &:hover {
        .level-hv {
            opacity: 1;
        }
    }
}
.level-text {
    margin-right: 13px;
}
.level-line {
    position: relative;
    flex-grow: 1;
    // .level-line__val
    &__val {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 50%;
        svg {
            position: absolute;
            right: -2px;
            bottom: -5px;
        }
    }
    // .level-line__hv

    &__hv {
    }
}
.level-hv {
    font-size: 11px;
    opacity: 0;
    display: flex;
    position: absolute;
    top: -13px;
    right: 0;
    transition: all 0.3s ease;
    font-weight: 300;
    // .level-hv__val

    &__val {
    }

    // .level-hv__maxVal

    &__maxVal {
    }
}

.select {
    select {
        border-radius: 4px;
        background-color: $c_31;
        color: $c_main;
        background-image: url(../../img/select.svg);
        background-position: center right 15px;
        background-repeat: no-repeat;
        appearance: none;
        height: 30px;
        padding: 0 17px;
        font-size: 12px;
        @include brd($c_54, "");
    }
}
.side-profile__select {
    select {
        background-position: center right 5px;
        border-top: none;
        font-size: 8px;
        border: none;
        height: 20px;
        padding: 0 17px;
        padding-left: 10px;
    }
}

.twitch {
    &:hover {
        path {
            transition:  all .3s ease;
            fill: #9146ff;
        }
    }
}
.ds {
    &:hover {
        path {
            transition:  all .3s ease;
            fill: #5865F2;
        }
    }
}
.fb {
    &:hover {
        path {
            transition:  all .3s ease;
            fill: #3B5998;
        }
    }
}
.twitter {
    &:hover {
        path {
            transition:  all .3s ease;
            fill: #08A0DF;
        }
    }
}
