//====================================================================================================
.header {
	// background-color: $c_f;
	background-color: $c_f;
	position: fixed;
	width: 100vw;
	top: -1px;
	z-index: 50;
	color: $c_0;
	// .header__content
	&__content {
	}
	// .header__menu
	&__menu {
	}
}
.menu__list {
	display: flex;

	> li + li {
		margin-left: 25px;
	}
	li {
		position: relative;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}
}

.icon-menu {
	display: none;
}

.menu__link {
	&._active {
		color: red;
	}
}

//====================================================================================================

//====================================================================================================

._touch {
	.menu__list {
		flex-direction: column;
		align-items: center;
		li {
			margin-top: 15px;
			margin-left: 0;
		}
		li {
			position: relative;
			flex-wrap: wrap;
		}
	}

	.menu__body {
		position: fixed;
		overflow: auto;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 20;
		height: 100%;
		background-color: $c_f;
		padding-top: 70px;
		transition: left 0.3s ease;
		left: -100%;
		padding-left: $sqPd + px;
		padding-right: $sqPd + px;

		&._active {
			left: 0;
		}
	}

	.icon-menu {
		display: block;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 50;
		position: relative;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: $c_0;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
	.header__container{
		height: 60px;
	}
	.header__btn{
		display: none;
	}
	.header__logo{
		width: 130px;
	}
}

//====================================================================================================

.header {
	box-shadow: 0.00px 0.00px 15px 4px rgba(0,0,0,0.05);
	// .header__container
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-weight: 500;
		height: 100px;

	}

	// .header__logo

	&__logo {
		width: 180px;
	}


	// .header__menu

	&__menu {
		font-size: 14px;
		li + li {
			margin-left: 45px;
		}
		li {
			a {
				padding: 10px;
				transition: all .3s ease;
				&:hover {
					color: $cb;
				}

			}
			a._active{
				color: $cb;

			}
		}
	}

	// .header__btn

	&__btn {
		min-height: 53px !important;
	}

}

.menu {
	// .menu__body

	&__body {
	}

	// .menu__list

	&__list {
	}

	// .menu__link

	&__link {
	}

	// .menu__icon

	&__icon {
	}
}
.icon-menu {
}
