footer{
    padding: 10px;
    background-color: $c_blue;
    color: $c_f;
    font-weight: 600;
    text-align: center;
}
//====================================================================================================

//====================================================================================================

